body{
	user-select: none;
	margin: 0;
	padding: 0;	
  font-family: 'AZONIX', sans-serif;
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1;}
}

html,
body,
header,
#intro {
    height: 100%;
    user-select: none;
    background-attachment: fixed;
    font-family: 'AZONIX', sans-serif;
}

#intro {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#img-download{
  transform: scale(0.8);
  transition: 0.2s;
}

#img-download:hover{
  transform: scale(0.9);
  position: relative;
  transition: 0.2s;
  box-shadow: 2px 2px 10px grey;
}

.page-footer{
  cursor: default;
  user-select: text;
}

.top-nav-collapse {
  transition: 0.3s;
  background-image: linear-gradient(to bottom right, #37474F, #263238);
}

.nav-info{
  border-bottom: 1px solid rgb(50,50,50);
  user-select: text;
  cursor: default;
}


.nav-pills > li > a.active {
  background-color: transparent!important;
  color: #ff9800!important;
  border-bottom: 2px solid #ff9800!important;
  border-radius: 0%!important;
  transform: scale(1.1);
  transition: 0.3s;
  text-shadow: 1px 1px 5px #ff9800;
}

.mobile-pills > li > a.active  {
  background-color: rgba(0,0,0,0.2)!important;
  color: #fff!important;
  border: 0px!important;
  border-radius: 0%!important;
  transition: 0.3s;
  filter: grayscale(100%);
  opacity: 0.8;
  width: 100%;
}

.nav-link{
  color: #fff;
  font-weight: normal;
}

.nav-link:hover{
  color: #ddd;
  transition: 0.2s;
}

.nav-item{
  padding: 10px!important;
}


#nav-logo{
  transition: 0.2s;
  transform: scale(1.3);
}

.navbar{
  box-shadow: none!important;
}

.nav-mobile {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  transition: 0.3s;
  background-image: linear-gradient(to right, #f57c00, #ffa726);
  /*
  overflow-y: scroll!important;
  */
}

.btn-menu {
  display: none;
  font-size: 40px;
}

.nav-mobile-content {
  position: relative;
  top: 10%;
  width: 100%;
  margin-top: 30px;
  transition: 0.5s;
    /*
  overflow-y: scroll!important;
  */
}

.nav-mobile a {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.nav-mobile a:hover, .nav-mobile a:focus {
  color: #f1f1f1;
}

.nav-mobile .closebtn {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 60px;
}
.navbar-brand-mobile{
  display: none;
}

.map-container{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.load{
  width: 100px;
  height: 100px;
  border: 3px solid #bdbdbd;
  border-top:6px solid #ff9800 ;
  border-radius: 100%;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}

#background-load{
  height:100%;
  width:100%;
  background:#fff;
  position:fixed;
  left:0;
  top:0;
  z-index: 9999;
  overflow: hidden!important;
 }

/*indicators-carousel

 .indicator{
  background-color: #ddd!important;
 }

 ol li.active{
  background-color: rgb(255,53,71)!important;
 }

*/

#btn-fixed-style{
  background-color: rgb(255,53,71)!important;
  opacity: 0.5;
}

#btn-fixed-style:hover{
  opacity: 1;
}

/*
#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: red; 
  color: white; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555;
}
*/

#logo-span,#logo-span2{
  font-size: 40px;
}

#shadow-effect{
  text-shadow: 5px 5px 10px black;
}

.card-img-top{
  height: 250px;
  background-color: #fff;
}

.face:hover{
  background-color: red!important;
}


@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
   background-image: linear-gradient(to bottom right, #37474F, #263238);
  }
  .nav-lg{
    display: none;
  }
  .btn-menu{
    display: block;
    float: left;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-brand-mobile{
    display: block;
  }
  .carousel-indicators{
    display: none;
  }
  #fb-desk{
    display: none!important;
  }
  #fb-mobile{
    display: initial!important;
  }
  #intro{
    margin-top: 76px!important;
  }

}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-image: linear-gradient(to bottom right, #37474F, #263238);
  }
  .nav-lg{
    display: none;
  }
  .btn-menu{
    display: block;
    float: left;
  }
  .navbar-brand{
    display: none;
  }
  .navbar-brand-mobile{
    display: block;
  }
  .carousel-indicators{
    display: none;
  }
  #fb-desk{
    display: none!important;
  }
  #fb-mobile{
    display: initial!important;
  }
  #intro{
    margin-top: 76px!important;
  }

}

@media screen and (max-height: 450px) {
.nav-mobile a {font-size: 20px}
.nav-mobile .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  height: 100%;
  }
}